@import "../../style-variables/variables";

.CompanyInfo {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: $xsmall;
  margin: 0.25rem;
}

.CompanyInfoColumn {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;

  ul {
    color: map-get($colors, middle-green-yellow);
    margin: 0 0.25rem;
    padding: 0;
    list-style: none;

    li {
      margin: 0.25rem;
      width: auto;
      white-space: nowrap;
      font-size: 0.85rem;

      &:hover {
        color: map-get($colors, lincoln-green);
      }
    }

    li:nth-of-type(1) {
      color: map-get($colors, lincoln-green);
      font-size: 1.1rem;
      font-weight: bold;
    }
  }
}

@media only screen and (min-width: $small) {
  .CompanyInfo {
    flex-flow: row wrap;
    width: initial;
  }
}
