$colors: (
  lincoln-green: #25521c,
  middle-green-yellow: #b7c24f,
  blue-green: #438fb1,
  cultured: #f6f6f6,
  charleston-green: #0f232a,
  success: #82b865,
  warning: #e9d758,
  error: #c80428,
);

$header-height: 3rem;

$xsmall: 320px;
$small: 500px;
$medium: 750px;
$large: 1000px;
$xlarge: 1200px;
