$colors: (
  lincoln-green: #25521c,
  middle-green-yellow: #b7c24f,
  blue-green: #438fb1,
  cultured: #f6f6f6,
  charleston-green: #0f232a,
);

$mobile-width: 500px;
$max-width: 1200px;
$header-height: 3rem;
