@import "../../style-variables/variables";

.Checkout {
  width: 80%;
  margin-left: 10%;
}

.Checkout_Title {
  margin: 1rem auto;
  text-align: center;
  font-size: 1.5rem;
}

.Checkout_Basket {
  margin: 1rem auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.Checkout_Link {
  color: map-get($colors, lincoln-green);
}

.Checkout_Line {
  text-align: center;
}

.Checkout_CheckoutSubtotal {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.Checkout_CheckoutSubTotalPrice {
  width: 5rem;
  margin-top: 0.25rem;
  display: flex;
  flex-flow: column nowrap;

  & > p {
    margin: 0;
  }

  & > small {
    display: block;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    color: map-get($colors, lincoln-green);
  }
}

.Checkout_CheckoutText {
  padding: 0.25rem 1rem;
  text-align: right;
  display: flex;
  flex-flow: column nowrap;

  & > p {
    margin: 0;
  }

  & > small {
    display: block;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    color: map-get($colors, lincoln-green);
  }
}

.Checkout_Delivery {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.Checkout_DeliveryAddress {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0.5rem 2rem;
  font-style: normal;

  & > div {
    color: map-get($colors, lincoln-green);
    margin: 0 0.5rem;
  }
}

.Checkout_CheckoutDeliveryPrice {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  & > p {
    margin: 0;
    padding: 0.25rem 1rem;
    text-align: right;
  }

  & > span {
    width: 5rem;
  }
}

.Checkout_Total {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  & > p {
    margin: 0;
    padding: 0.25rem 1rem;
    text-align: right;
  }

  & > span {
    width: 5rem;
  }
}

.Checkout_Payment {
  width: 60%;
  margin: 1rem auto;
  border: 2px solid map-get($colors, lincoln-green);
  border-radius: 8px;

  & > h3 {
    margin: 1rem;
    text-align: center;
    font-weight: normal;
    font-size: 1.3rem;
    color: map-get($colors, lincoln-green);
  }

  & > form {
    display: flex;
    flex-flow: column nowrap;

    & > label {
      margin: 0.5rem 1rem;
    }

    & > select {
      margin: 0.5rem 5%;
      padding: 0.5rem;
      width: 50%;
      font-size: 1.2rem;
      border: 1px solid map-get($colors, charleston-green);
      border-radius: 3px;
    }

    & > input {
      margin: 0.5rem 5%;
      padding: 0.5rem;
      text-align: center;
      width: 90%;
      font-size: 1.2rem;
      border: 1px solid map-get($colors, charleston-green);
      border-radius: 3px;
      box-sizing: border-box;
    }

    & > small {
      margin: 0 auto;
    }

    & > button {
      margin: 1.5rem auto;
      width: 30%;
      min-width: 8rem;
      padding: 0.5rem 1rem;
      background-color: map-get($colors, lincoln-green);
      color: map-get($colors, cultured);
      border: 3px solid map-get($colors, lincoln-green);
      border-radius: 10px;
      font-size: 1.6rem;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: map-get($colors, cultured);
        color: map-get($colors, lincoln-green);
      }

      &:active {
        background-color: map-get($colors, middle-green-yellow);
      }
    }
  }
}

.Basket_InputError {
  color: map-get($colors, error);
  text-align: right;
  width: 90%;
  margin: 0 auto;
}
