@import "../../style-variables/variables";

.Products {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 0.5rem 0 1rem 0;
  box-sizing: border-box;
}

.ProductsFilter_Display {
  display: none;
  width: 14rem;
}

.ProductsFilter {
  width: 90%;
  border: 1px solid map-get($colors, lincoln-green);
  border-radius: 5px;
  color: map-get($colors, lincoln-green);
  margin: 0.25rem auto;
  box-sizing: border-box;

  & > ul {
    list-style: none;
    padding: 0.5rem 0.25rem;
    margin: 0;

    & > li {
      margin-right: 0.25rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.ProductsFilter_Heading {
  background-color: map-get($colors, lincoln-green);
  color: map-get($colors, cultured);
}

.ProductsFilter_Line {
  margin: 0.25rem 0;
  height: 1px;
  background-color: map-get($colors, lincoln-green);
}

.ProductsFilter_Title {
  width: 90%;
}

.ProductsFilter_Option {
  padding: 0.25rem;
  margin-top: 0.25rem;
  cursor: pointer;
  border-radius: 5px;
}

.ProductsFilter_OptionSelected {
  padding: 0.25rem;
  margin-top: 0.25rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: map-get($colors, lincoln-green);
  color: map-get($colors, cultured);
}

.ProductsFilter_Reset {
  padding: 0.5rem;
  background-color: map-get($colors, lincoln-green);
  color: map-get($colors, cultured);
  text-align: center;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.ProductsFilter_Text {
  user-select: none;
}

.ProductsSort {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  & > label {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
  }

  & > select {
    margin-top: 0.5rem;
    margin-right: 1rem;
    outline: none;
    font-family: "rubik";
    font-size: 1.2rem;
    background-color: map-get($colors, cultured);
    color: map-get($colors, lincoln-green);
  }
}

.Products_Right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.ProductsContainer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}

.ProductsItem {
  width: 100%;
  height: 25rem;
  padding: 0.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  font-family: "roboto";
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background-color: map-get($colors, product-select);
    border-radius: 10px;
  }
}

.ProductsItemImage {
  width: 90%;
  max-width: 300px;
}

.ProductsItemBrand {
  width: 85%;
  margin: 0;
  padding: 0;
  margin-top: 0.3rem;
}

.ProductsItemInfo {
  width: 85%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0.5rem;
}

.ProductsItemName {
  max-width: 80%;
  margin: 0;
  padding: 0;
}

.ProductsItemPrice {
  & > p {
    margin: 0;
    padding: 0.25rem;
  }
}

.Products_Filter_Mobile {
  width: 95.5vw;
  display: flex;
  justify-content: center;

  & > button {
    padding: 0.5rem;
    width: 80%;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
  }
}

.Products_Filter_MobileButton_OFF {
  background-color: map-get($colors, cultured);
  color: map-get($colors, lincoln-green);
  border: 2px solid map-get($colors, lincoln-green);
}

.Products_Filter_MobileButton_ON {
  background-color: map-get($colors, lincoln-green);
  color: map-get($colors, cultured);
  border: 2px solid map-get($colors, lincoln-green);
}

@media only screen and (min-width: $small) {
  .ProductsItem {
    width: 50%;
    height: 20rem;
    margin: 0;
  }

  .ProductsItemImage {
    max-width: 220px;
  }
}

@media only screen and (min-width: $medium) {
  .ProductsFilter_Display {
    display: block;
  }

  .ProductsFilter {
    width: 100%;
    margin: 0.25rem 0.25rem 0.5rem 0.25rem;
  }

  .Products_Filter_Mobile {
    display: none;
  }

  .Products_Right {
    width: calc(100% - 14rem);
  }

  .ProductsItem {
    width: 33.3%;
  }

  .ProductImage {
    width: 100%;
  }
}

@media only screen and (min-width: $large) {
  .ProductsItem {
    width: 25%;
  }
}
