@import "../../../style-variables/variables";

.Overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 500;
  background-color: map-get($colors, charleston-green);
  opacity: 0.9;
  cursor: pointer;
}

.Hide {
  display: none;
}
